= render :partial=>'layouts/header'
= render :partial=>'layouts/strip', :locals => {:frompage => "about" }

#about
	%span#abouthead Que Aye
	%br
	%br
	%span A question and answer site
	%br
	%br
	%span HTML?  Sure, you can use it in answers, questions, and in your 
	%span background to your user profile (you have to edit the profile)
	%span Tags that work are img and a, the script tag shouldn't work
	%br
	%br
	%span Copyright of images and text remain with the author, the category
	%span of the answer will be moved by moderation.  How does that work?
	#insert
		%span Say someone asks 'Should the government pay for education?'
		%span You respond 'No, because ...' and put it in the category of
		%span first, or right.  Someone else answers 'Yes, because ...' under
		%span the category of liberal.  Moderation will move your answer to
		%span conservative.  If someone else thinks they have a better
		%span conservative answer, they can also put it under that category 
		%span and hope the upvotes move their answer to the top.
	
	
	
	