= render :partial=>'layouts/header'
= render :partial=>'layouts/strip', :locals => {:frompage => "contact" }

#contact
	%span#contacthead Contact
	%br
	%br
	%br
	%span#email I can be reached at joecochrane1@gmail.com