#action
	= link_to(image_tag( "askbutton.png", :mouseover => "askrollbutton.png"), url_for({:controller => 'questions', :action => 'new'}), :id => "askbutton"  ) 
	= link_to(image_tag( "recentbutton.png", :mouseover => "recentrollbutton.png"), url_for({:controller => 'questions', :action => 'index'}), :id => "recentbutton"  )
